<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
  <title>RSS News Reader</title>
</head>
<body>
  <h1>RSS News Reader</h1>
  <div id="root"></div>
  <script src="bundle.js"></script>
</body>

</html>
